.header { 
    color: black;
    font-size: 1em;
}

nav {
    height: 55px;
    /* width: 550px; */
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}

.header--icon {
    width: 25px;
}